@import '~bootstrap/dist/css/bootstrap-grid.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("../../UI/Color.css");

*{
    font-weight: 600;
}
.header {
    width: 100%;
    background: #4F7D58;
}
.square{
    margin-left: auto;
    margin-right: 10px;
}

.input{
    height: 70px;
    border-radius: 10px;
    border-color: var(--border-color);
}
.square{
    height: 70px;
}

.img{
    width: 50%;
}

.buttonHeader{
    background-color: var(--secondary-color);
    border-color: var(--border-color);
    border-radius: 10px;
}
.buttonNav{
    padding: unset;
    height: 30px;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--main-bg-color);
    border-color: var(--border-color);
}
.navigation{

}
@media screen and (max-width: 1200px){
    .navigation{

    }
    .input{
        height: 55px;
    }
    .square{
        height: 55px;
    }
    .img{
        width: 80%;
        margin: auto;
    }
}
@media screen and (max-width: 800px){
    .navigation{

    }
    .input{
        height: 45px;
    }
    .square{
        height: 45px;
    }
    .img{
        width: 100%;
        margin: auto;
    }
}
@media screen and (max-width: 600px){
    .navigation{

    }
    .input{
        height: 35px;
    }
    .square{
        height: 35px;
    }
    .img{
        width: 100%;
        margin: auto;
    }
}

.buttonNav{
    width: 200px;
}





