@import url("../../UI/Color.css");
.footer{
    color: var(--main-bg-color);
    background-color: var(--text-color);
}
.title{
    border-bottom: 3px solid var(--border-color);
    text-align: center;
}